# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/


# black list all the file
ws_hls/*
ws_vivado/*
._*

# white list selected 
!ws_hls/source/
!ws_hls/source/*

!ws_hls/include/
!ws_hls/include/*

!ws_hls/*.tcl
!ws_vivado/*.tcl

# allow the zip file such as the vivado project achieve
!ws_vivado/*.zip


# include the generated HLS IP
!hls_out/
# include the bit and hwh generated 
!vivado_out/

*.log